*
{
    padding: 0;
    margin: 0;
    font-family: 'Exo', sans-serif;
    box-sizing: border-box;
}

body {
    background: #d4e0ee;
}

#container,
.quiz-box,
#result, 
#high-scores {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#start,
#submit,
#clear-btn,
#back-btn {
    height: 40px;
    width: 150px;
    margin: 22px;
    text-align: center;
    background: #410a80;
    color: rgb(255, 253, 253);
    font-size: 18px;
    font-weight: 150;
    border-radius: 10px 10px;
    border: 2px solid #b0c4d8;
    cursor: pointer;
}

#start:hover,
#submit:hover,
.choice_que:hover,
#clear-btn:hover,
#back-btn:hover {
    background: #8d35ff;
    color: #e7f1fa;
}

#scores {
    text-align: left;
    margin-bottom: 100px;
    font-size: smaller;
    color: #410a80;
}

#scores:hover {
    background-color: #410a80;
    color: white;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 22%;
    width: 52%;
    transform: translateX(50%)
}

#timer {
    display: inline;
}

#timer {
    text-align: right;
    margin-bottom: 100px;
    font-size: small;
    font-weight: bold;
}

#rules,
#title {
    padding: 25px;
}

#rules {
    font-size: 20px;
    width: 600px;
    margin: auto;
}

.quiz-box {
    height: auto;
    width: 750px;
    padding-left: 30px;
    text-align: center;
    display: none;
    transform: translate(-50%, -50%) scale(0.9);
}

#questionText {
    height: 70px;
}

.quiz-box section {
    padding-bottom: 40px;
}

.quiz-box .footer {
    opacity: 30%;
    font-size: 20px;
    border-top: 2px solid;
    padding: 15px;
    display: none;
    text-align: left;
}

#optionList .choice_que {
    padding: 20px;
    margin: 7px;
    width: 500px;
    text-align: left;
    background-color: #410a80;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

#optionList .choice_que:hover {
    background: #8d35ff;
}

#result {
    display: none;
    transform: translate(-50%, -50%) scale(0.9);
}

#result h3, 
#high-scores h3 {
    font-size: 32px;
    padding: 10px;
}

#result input{
    height: 25px;
}

#result form {
    padding: 30px;
}

#high-scores {
    display: none;
    transform: translate(-50%, -50%) scale(0.9);
}

#scores-list {
    height: 600px;
}